<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
</head>
<body style="background-image: url('{% static "images/body_background.jpg"%}'); background-size: cover; background-repeat: no-repeat">
<div>

    <ul>
        <li style="float: left"><a disabled="True">Noise Reduction</a></li>
        <li><a href="{% url 'generate-spectrogram' %}">Spectrogram Generation</a></li>
        <li><a href="{% url 'noise-reduction' %}">Noise Reduction</a></li>
        <li><a href="{% url 'train-your-model' %}">Custom Model</a></li>
        <li><a href="{% url 'extract-audio' %}">Extract Audio</a></li>
        <li><a href="{% url 'trim-audio' %}">Trimming</a></li>
        <li><a  href="{% url 'home' %}">Home</a></li>
    </ul>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    {% block content %}

    {% endblock %}

</div>
</body>
</html>